# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code
*.vscode*

# My personal notes
*.*.txt

# Gurobi log
*gurobi.log

# Sensitive data files
data
data/*

# my test result files
*Test/*
result/*

# notbook checkpoint
.ipynb_checkpoint*

# re2 added file
*re2/python/LICENSE*
