# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code
*.vscode*

# My personal notes
*.*.txt

# Gurobi log
*gurobi.log

# Temporary pickle files
*.pkl


# Sensitive data files
data/**/*txt
data/**/*csv
data/**/*warc*
data/**/*gz
data/**/*.xml
# except some open-source regex files
!data/regexes_traffic.txt
!data/webpages/regexes_webpages.txt
!data/webpages/regexes_webpages_free.txt

# my test result files
*Test/*
result/*

# notbook checkpoint
*.ipynb_checkpoint*
*notebook*.txt

# exploration notebooks
notebooks/*
# except those that are final for presentation
!notebooks/final_*

# re2 added file
*re2/python/LICENSE*
